body {
  font-family: "Roboto" sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}
.title-logo {
  font-weight: 700;
  line-height: 21px;
  font-size: 18px;
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
  color: var(--navyblue, #2e2f42);

  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-left: 156px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.title-web {
  color: var(--iris, #4d5ae5);
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  color: white;
}

.title-web {
  margin-right: 5px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

.nav-list li {
  padding-right: 40px;
  margin-top: 24px;
}

.nav-list li a {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-top: 24px;
  margin-bottom: 0;
}

/* a-hover */
.nav-list li a:hover {
  color: #ff9900;
}

.nav-studio {
  margin-left: 76px;
  margin-top: 24px;
}

/* style-block-hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 100px 0;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
}

/* style-title-hero */
.title-hero {
  color: var(--white, #fff);
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* hero-button-style */
.hero button {
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  color: white;
  border: none;
  padding: 16px 32px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.mail-link {
  display: inline-block;
}

.tel-link {
  display: inline-block;
}

.title-3-section {
  display: none;
}

.ul-strategy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.strategy {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-left: 156px;
  padding-right: 24px;
}

.p-strategy {
  width: 264px;
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.title-strategy {
  width: 264px;
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.punltuality {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-left: 24px;
  padding-right: 24px;
}

.title-punltuality {
  width: 264px;
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.p-punktuality {
  width: 264px;
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.diligence {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-right: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.title-diligence {
  width: 264px;
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.p-diligence {
  width: 264px;
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.technologies {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-left: 24px;
  margin-right: 156px;
}

.title-technologies {
  width: 264px;
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.p-technologies {
  width: 264px;
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* our-team */

.section-team {
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
  background: var(--cloud, #f4f4fd);
}

.title-team {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;
}

.card-1 {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-left: 156px;
  margin-right: 24px;
  margin-top: 72px;
}

.card-1-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.card-2 {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-right: 24px;
}

.card-3 {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-right: 24px;
}

.card-4 {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* portfolio */

.section-portfolio {
  width: 1440px;
  height: 3300px;
  background: #fff;
}

.title-portfolio {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}

.work-1 {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.work-1-img {
  width: 360px;
  height: 300px;
  flex-shrink: 0;
  background: url(<path-to-image>),
    lightgray -25.026px 0px / 125% 100% no-repeat;
}

.work-1-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.work-1-p {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.work-2 {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

/* footer */

.footer {
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
}

.title-logo-2 {
  display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  color: var(--cloud, #f4f4fd);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 101px;
  margin-bottom: 101px;
  margin-left: 156px;
}

.title-web-2 {
  color: var(--iris, #4d5ae5);
}
