body {
  font-family: "Roboto" sans-serif;
  color: black;
}
.title-logo {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  border: 0px;
  margin-top: 24px;
  margin-bottom: 0px;
  margin-left: 156px;
}

.title-web {
  color: var(--iris, #4d5ae5);
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;

  padding-left: 0;
}

nav > ul > li > a {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-studio {
  border: 0px;
  margin-bottom: 0;
  margin-left: 347px;
}
.nav-portfolio {
  border: 0px;
  margin-bottom: 0;
  margin-left: 435px;
}
.nav-contacts {
  border: 0px;
  margin-bottom: 0;
  margin-left: 541px;
}

.mail-link {
  color: var(--slate, #434455);
  letter-spacing: 0.32px;
  text-decoration: none;
  margin-bottom: 0;
  border: 0px;
  margin-left: 940px;
}

.tel-link {
  color: var(--slate, #434455);
  letter-spacing: 0.32px;
  text-decoration: none;
  margin-bottom: 0;
  border: 0px;
  margin-left: 1133px;
}
